// "use client";

import React from "react";
import { FC } from 'react';

const {{pascalCase name}}: FC = () => {
  return (
    <div>{{pascalCase name}}</div>
  );
};

export default {{pascalCase name}};
